<%
const {user} = locals;
let logText = user ? "Logout" : "Login"
let logLink = user ? "/auth/logout" : "/auth/google"
%>

<nav class="navbar">
    <div class="container">
        <div class="navbar-brand">
            <!-- TODO: change to target user portal home later -->
            <h3 class="text-lg-center"><a href="/accounts">OPUS TRACK</a></h3>
        </div>
        <div>
            <a href="/accounts">Browse</a>
        </div>
        <% if (user) { %>
            <div>
                <a href="/portfolio">My Portfolio</a>
            </div>
            <div>
                <a href="/accounts/edit">Settings</a>
            </div>
        <% } %>

        <div class="float-end">
            <a href="<%=logLink%>"><%=logText%></a>
        </div>
    </div>
</nav>
