<%
const {user, avatarFile} = locals;
console.log(avatarFile);
%>

<section class="container">
    <h1 class="mb-4">Edit Account</h1>
    <form class="container-lg" method="POST" action="/accounts?_method=PATCH" enctype="multipart/form-data">
        <label class="form-label" for="file">Profile Picture</label>
        <input class="form-control" type="file" id="file"  name="profilePic" accept=".png,.jpg,.jpeg" />
        <p class="text-sm float-end pe-2">max size: 1MB</p>
        <label class="form-label"></label>
        <div id="profile-image-container">
            <img alt="User profile image" id="profile-image" src="<%=avatarFile%>" />
        </div>
        <p class="text-sm text-center">For best results, use a large image with a 1:1 aspect ratio</p>

        <label class="form-label" for="displayName">Artist Name</label>
        <input id="displayName" class="form-control" name="displayName" type="text" required value="<%=user.displayName ? user.displayName : user.username%>" pattern="\s*\w[\w\s]*\s*">
        <p class="text-sm mb-4">This name appears on your portfolio page</p>

        <label class="form-label" for="username">Username</label>
        <input id="username" class="form-control" name="username" type="text" required value="<%=user.username%>" pattern="\s*\w+\s*">
        <p class="text-sm float-start text-start">Your unique portfolio url: <code class="text-sm rounded-1 bg-light">/portfolio/a/<span id="user-link"><%=user.username%></span></code></p>
        <p class="text-sm text-end">must contain no spaces</p>

        <button class="btn btn-primary">Update</button>
    </form>
</section>
