<section>
    <div id="brand-image">
        <img src="/images/logo-lg.png" draggable="false"/>
        <div id="log-links">
            <div class="link">
                <img class="link-arrow google-image" src="/images/google.svg" />
                <a class="link link-dark" href="/auth/google">Login</a>
            </div>
        </div>
    </div>
</section>
