@font-face {
    font-family: "Montserrat-Arabic";
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/Montserrat-Arabic-Regular.otf);
}

@font-face {
    font-family: "Montserrat-Arabic";
    font-style: normal;
    font-weight: 600;
    src: url(/fonts/Montserrat-Arabic-SemiBold.otf);
}

:root {
    --color-faded: #c0c0c0;
}

* {
    box-sizing: border-box;
}

nav {
    background: #367cd7;
}

nav a {
    text-shadow: 1px 1px rgba(139, 139, 211, 0.58);
}

nav .navbar-brand {
    font-weight: 800;
    letter-spacing: 2px;
}

nav a {
    text-decoration: none;
    color: #1e1e1e;
}

html {
    margin: 0;
    width: 100vw;
    height: min(100vh);
}

body {
    width: 100%;
    height: 100%;
    background: #eaeaea;

    font-family: "Montserrat-Arabic", Arial, serif;
    overflow-x: hidden;
}

nav {
    position: sticky;
}

header {
    grid-area: header;
    min-height: 100px;
    overflow: hidden;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    text-align: center;

    margin-top: 8vmin;
}

footer p {
    font-size: max(min(4vmin, .5rem), 1vmin);
}

.text-sm {
    font-size: .8rem;
    color: var(--color-faded);
}

img {
    user-select: none;
    -webkit-user-drag: none;
}
